<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Login Sample Android (Multithread)" thread-count="1" parallel="tests">
    <test name="TS_WB_BL">
        <classes>
            <class name="com.test.bukalapak.TestPlan"/>
<!--            <class name="com.test.bukalapak.TestRegister"/>-->
            <!--            <class name="com.testing.imkas.member.login.Login"/>-->
        </classes>
    </test>
</suite>